<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Fluid Panel - jQuery EasyUI Demo</title>
    <link rel="stylesheet" type="text/css" href="/static/css/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="/static/css/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="/static/css/demo/demo.css">
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.easyui.min.js"></script>
</head>
<body>
<div style="padding:5px;background:#fafafa;width:500px;border:1px solid #ccc">
    <a id="hehe" href="#" class="easyui-linkbutton" iconCls="icon-cancel">Cancel</a>
    <a href="#" class="easyui-linkbutton" iconCls="icon-reload">Refresh</a>
    <a href="#" class="easyui-linkbutton" iconCls="icon-search">Query</a>
    <a href="#" class="easyui-linkbutton">text button</a>
    <a href="#" class="easyui-linkbutton" iconCls="icon-print">Print</a>
</div>

<div style="padding:5px;background:#fafafa;width:500px;border:1px solid #ccc">
    <a href="#" class="easyui-linkbutton" plain="true" iconCls="icon-cancel">Cancel</a>
    <a href="#" class="easyui-linkbutton" plain="true" iconCls="icon-reload">Refresh</a>
    <a href="#" class="easyui-linkbutton" plain="true" iconCls="icon-search">Query</a>
    <a href="#" class="easyui-linkbutton" plain="true">text button</a>
    <a href="#" class="easyui-linkbutton" plain="true" iconCls="icon-print">Print</a>
    <a href="#" class="easyui-linkbutton" plain="true" iconCls="icon-help"></a>
    <a href="#" class="easyui-linkbutton" plain="true" iconCls="icon-save"></a>
    <a href="#" class="easyui-linkbutton" plain="true" iconCls="icon-back"></a>
</div>

<div style="width: 300px; background:#ccc; height:50px;" >
    Click <a href="#" onclick="disablebuton()">here</a> to show the menu.
</div>

</body>

<script>
    function disablebuton(){
        $('#hehe').linkbutton('disable');
    }

</script>

</html>
