<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Fluid Panel - jQuery EasyUI Demo</title>
    <link rel="stylesheet" type="text/css" href="/static/css/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="/static/css/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="/static/css/demo/demo.css">
    <link rel="stylesheet" href="/static/js/themes/example1/example1.css" />
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.easyui.min.js"></script>
    <script charset="utf-8" src="/static/js/kindeditor.js"></script>
    <script charset="utf-8" src="/static/js/lang/zh_CN.js"></script>

    <style>
        .ke-icon-hello {
            background-image: url(/static/img/arrow_up.gif);
            background-position: 0px -672px;
            width: 16px;
            height: 16px;
        }
    </style>

    <script>
        $(function(){
            $('#ff').form({
                success:function(data){
                    $.messager.alert('Info', data, 'info');
                }
            });

            KindEditor.ready(function(K) {
                K.create('#textarea_id', {
                    uploadJson : '../jsp/upload_json.jsp',
                    fileManagerJson : '../jsp/file_manager_json.jsp',
                    allowFileManager : true
                });
            });


            KindEditor.ready(function(K) {
                window.editor = K.create('#editor_id',{
                    themeType : 'example1',
                    uploadJson : '/uploadfile',
                   // fileManagerJson : '../jsp/file_manager_json.jsp',
                    allowFileManager : true
                });
            });
        });
    </script>
</head>
<body>
<div style="width:230px;background:#fafafa;padding:10px;">
    <div style="padding:3px 2px;border-bottom:1px solid #ccc">Ajax Form</div>
    <form id="ff" action="/formajaxdata" method="post">
        <table>
            <tr>
                <td>Name:</td>
                <td><input name="name" type="text"/></td>
            </tr>
            <tr>
                <td>Email:</td>
                <td><input name="email" type="text"/></td>
            </tr>
            <tr>
                <td>Phone:</td>
                <td><input name="phone" type="text"/></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Submit"/></td>
            </tr>

            <textarea id="editor_id" name="content" style="width:700px;height:300px;">
                    &lt;strong&gt;HTML内容&lt;/strong&gt;
            </textarea>
        </table>
    </form>
</div></div>





</body>

</html>
